.login {
    background-color: #cfecea;
    padding: 20px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-form input {
    border: 2px solid white;
    margin-bottom: 15px;
    outline: none;
    padding: 8px 16px;
    width: 100%;
    /* width: 337px; */
    transition: .5s;
}

.login-btn{
    border: 2px solid #027dd5;
    background-color: #027dd5;
    padding: 5px 16px;
    color: white;
    font-weight: 500;
    width: 100%;
    font-size: 20px;
}

input:focus {
    border: 2px solid #027dd5;
}


.google-btn {
    padding: 5px 20px;
    font-size: 19px;
    font-weight: 500;
    width: 100%;
    /* width: 337px; */
    background-color: white;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.google-btn img {
    width: 23px;
    margin-right: 10px;
}

.toggler {
    cursor: pointer;
    color: crimson;
}

.error-txt p {
    color: crimson;
}

.user-name {
    background-color: crimson;
}