.nav-link {
    font-size: 18px;
    font-weight: bold;
    color: black;
}

.navbar {
    background-color: #fff;
    box-shadow: 0px 0px 2px rgb(207, 205, 205);
}

.sign-out {
    background-color: #fff;
    border: none;
    font-weight: bold;
    font-size: 18px;
}

.user-img {
    width: 25px;
    border-radius: 50%;
}

.user-logo {
    background-color: #fff;
    color: black;
    width: 33px;
    height: 33px;
    border-radius: 50%;
}